.button-group {
    display: flex;
    margin-top: 10px;
    button {
        margin-right: 5px;
    }
}

.raw {
    background-color: #fff;
    width: 270px;
}

.box {
    background-color: rgb(232, 233, 230);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    width: 250px;
    button {
        font-size: 13px;
    }
}

.box-title {
    font-size: 15px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.body {
    display: flex;
    height: 100%;
    padding-left: 20px;
}

.done {
    text-decoration: line-through;
    text-decoration-color: #9ea7b4;
    color: #9ea7b4;
}

.progress {
    margin: 5px;
    margin-bottom: 10px;
    .ivu-progress {
        display: flex;
        justify-content: space-between;
    }
}

.deadline {
    font-size: 5px !important;
    margin-top: 10px;
}

.todo-list {
    .ivu-card {
        margin: 5px;
    }
    .ivu-card-body {
        padding: 10px;
    }
}

.todo-content {
    margin-top: -2px;
    > span {
        font-size: 14px;
        font-weight: bold;
    }
}

.card-content {
    display: flex;
    // > div {
    //     height: 10px;
    // }
    .check-box {
        height: 10px;
    }
}

.add-new-todo {
    margin: 4px;
}

.bottom-content {
    margin: 2px;
    margin-top: 8px;
    a {
        color: grey;
    }
}

